<style type="text/css">
#booze_debug_bar {
  position: absolute;
  top: 70px;
  right: 0;
  background: <%= config.tab_color %>;
  padding: 1px 4px 3px 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: helvetica, sans-serif;
  font-size: 9px;
  line-height: 1;
  z-index: 999999;
  text-align: center;
}
#booze_debug_bar a {
  color: <%= config.text_color %>;
  text-decoration: none;
}
#booze_debug_bar a span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
#booze_debug_bar ol {
  display: none;
  text-align: left;
  color: <%= config.text_color %>;
  font-size: 12px;
  margin-bottom: 16px;
}
#booze_debug_bar li {
  margin-bottom: 6px;
}
#booze_debug_bar a.close {
  display: none;
}

#booze_debug_bar.open {
  width: 90%;
  z-index: 40000;
}
#booze_debug_bar.open ol {
  display: block;
}
#booze_debug_bar.open a.close {
  display: block;
  position: absolute;
  top: 5px;
  right: 6px;
  padding: 2px 6px 3px 6px;
  border: 1px solid <%= config.text_color %>;
  font-size: 14px;
}
</style>
<script type="text/javascript">
var booze_js = function() {};
booze_js.show_queries = function() {
  var bar = document.getElementById('booze_debug_bar').className = 'open';
  return false;
};
booze_js.hide_queries = function() {
  var bar = document.getElementById('booze_debug_bar').className = '';
  return false;
};
</script>
<div id="booze_debug_bar">
  <a href="#" onclick="return booze_js.show_queries();"><span><%= queries.size %></span> queries</a>
  <ol>
  <% queries.each do |q| %>
    <li><%= q %></li>
  <% end %>
  </ol>
  <a href="#" class="close" onclick="return booze_js.hide_queries();">x</a>
</div>
